/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p,
a,
div,
input,
main,
section,
span {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.slider-image {
  height: 500px;
}


iframe{
  width: 100% !important;
  height: 70% !important;
}



@media screen and (min-width: 1700px) {
  body {
    height: 100vh !important;

    width: 70% !important;
    margin: 0 auto;
    background-color: #f1f1f1;
  }
  .slider-image {
    height: 50vh;
  }

  iframe{
    width: 100% !important;
    height: 70% !important;
  }
}


@media screen and (min-width: 1792px) {
  body {
    height: 100vh !important;

    width: 80% !important;
    margin: 0 auto;
    background-color: #f1f1f1;
  }
  .slider-image {
    height: 50vh;
  }
  iframe{
    width: 75% !important;
    height: 55% !important;
  }
}

@media screen and (min-width: 2560px) {
  body {
    height: 100vh !important;

    width: 80% !important;
    margin: 0 auto;
    background-color: #f1f1f1;
  }
  .slider-image {
    height: 50vh;
  }
  iframe{
    width: 100% !important;
    height: 55% !important;
  }
}

